Repository panther-labs/asana-ticket-router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality, @panther-labs/solution_engineering, @panther-labs/security

.github/CODEOWNERS:

*   @panther-labs/observability-performance @panther-labs/productivity @panther-labs/quality
/airplane/solution-engineering/ @panther-labs/solution_engineering @panther-labs/productivity
/airplane/productivity/ @panther-labs/productivity
/airplane/security/ @panther-labs/security @panther-labs/productivity

Add failure Slack notifications to Airplane (#275)
  airplane/airplane-task-testing/python_test/python_test.py
  airplane/pyshared/airplane_utils.py
  airplane/requirements.txt
  airplane/v2/task_models/airplane_task.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Send task failures to Slack channels (#276)
  airplane/conftest.py
  airplane/notion/update_deployment_records/update_panther_deployments_notion_records.py
  airplane/operations/deployment/deployment_health_checker/deployment_health_checker.py
  airplane/operations/deprovisions/check_deployment_for_deletion/check_deployment_for_deletion.py
  airplane/productivity/ephemeral_statistics/ephemeral_statistics.py
  airplane/productivity/remove_expired_customers_from_deployment_group/remove_expired_customers_from_deployment_group.py
  airplane/productivity/statistics/main.py
  airplane/remove_expired_hosted_root_group_memberships/remove_expired_hosted_root_group_memberships.py
  airplane/security/snyk_asana_integration/main.py
  airplane/tests/test_deployment_health_checker.py
  airplane/v2/tasks/scheduled_deploys/scheduled_group_deploy/scheduled_group_deploy.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality, @panther-labs/security

Fix failure notifications in some tasks (#277)
  airplane/notion/update_deployment_records/update_panther_deployments_notion_records.py
  airplane/tests/v2/scheduled_deploys_test/test_scheduled_group_deploy.py
  airplane/v2/consts/airplane_env.py
  airplane/v2/task_models/airplane_task.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update groupname (#278)
  airplane/operations/add_remove_customer_to_from_group/add_remove_customer_to_from_group.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Remove Version column from Notion updates (#279)
  airplane/notion/new_panther_deployment_record/new_panther_deploy_notion_record.py
  airplane/notion/update_deployment_records/update_panther_deployments_notion_records.py
  airplane/pyshared/notion_databases.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix bug from Slack failure notifications (#280)
  airplane/productivity/ephemeral_statistics/ephemeral_statistics.py
Owners: @panther-labs/productivity

Only get GA versions from hosted deploy accounts (#281)
  airplane/operations/deployment/deployment_health_checker/deployment_health_checker.py
  airplane/tests/test_deployment_health_checker.py
  airplane/v2/consts/depoyment_groups.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

add alerts-migration lambda (#282)
  sentry_asana/src/consumer/components/asana/entities.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update coloring scheme for versions (#283)
  airplane/notion/update_deployment_records/update_panther_deployments_notion_records.py
  airplane/pyshared/airplane_utils.py
  airplane/pyshared/notion_databases.py
  airplane/v2/task_models/airplane_task.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Use markdown for Slack notifications (#284)
  airplane/pyshared/airplane_utils.py
  airplane/v2/consts/airplane_env.py
  airplane/v2/task_models/airplane_task.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Turn off 'require requests' for manual customer deploy (#285)
  airplane/operations/manual_deploys/manual_customer_deploy.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update Deployment Group Scheduled Version (#286)
  airplane/tests/v2/scheduled_deploys_test/test_update_deployment_group_scheduled_version.py
  airplane/v2/task_models/airplane_task.py
  airplane/v2/tasks/scheduled_deploys/cancel_deployment_group_schedules/cancel_deployment_group_schedules.task.yaml
  airplane/v2/tasks/scheduled_deploys/update_deployment_group_scheduled_version/__init__.py
  airplane/v2/tasks/scheduled_deploys/update_deployment_group_scheduled_version/update_deployment_group_scheduled_version.py
  airplane/v2/tasks/scheduled_deploys/update_deployment_group_scheduled_version/update_deployment_group_scheduled_version.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Auto update latest-ga-fridays group (#287)
  airplane/operations/deployment/deploy-staging/deploy_staging.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add github workflow for Asana (#288)
  .github/workflows/asana.yml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

fix fargate bugs to route correctly (#289)
  sentry_asana/src/consumer/components/asana/entities.py
  sentry_asana/src/consumer/components/asana/service.py
  sentry_asana/src/tests/test_asana.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix latest-friday-ga group auto updates (#290)
  airplane/Dockerfile.airplane
  airplane/operations/deployment/deploy-staging/deploy_staging.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add generate to pip-libraries script (#293)
  airplane/operations/pip-libraries/main.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

fix it (#294)
  airplane/operations/pip-libraries/main.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

wowo (#295)
  airplane/operations/pip-libraries/main.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Split average deployment times by initial/upgrade (#291)
  airplane/productivity/ephemeral_statistics/ephemeral_statistics.py
Owners: @panther-labs/productivity

Update docs for sentry-asana (#297)
  sentry_asana/README.md
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix condition syntax (#296)
  airplane/operations/pip-libraries/main.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Prevent airplane error logs from showing SSH keys (#298)
  airplane/airplane-task-testing/python_test/python_test.py
  airplane/pyshared/git_ops.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Make create customer a Python task (#292)
  airplane/conftest.py
  airplane/operations/deployment/new_customer/__init__.py
  airplane/operations/deployment/new_customer/create_new_customer.py
  airplane/operations/deployment/new_customer/create_new_customer.task.yaml
  airplane/operations/new-customer-deployments/create_new_customer.sh
  airplane/tests/test_create_new_customer.py
  airplane/v2/pyshared/deployments_file.py
  airplane/v2/pyshared/panther_version_util.py
  airplane/v2/task_models/airplane_git_task.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Switch to triage-productivity error Slack channel (#299)
  airplane/notion/update_deployment_records/update_panther_deployments_notion_records.py
  airplane/operations/deployment/deployment_health_checker/deployment_health_checker.py
  airplane/operations/deprovisions/check_deployment_for_deletion/check_deployment_for_deletion.py
  airplane/productivity/ephemeral_statistics/ephemeral_statistics.py
  airplane/productivity/remove_expired_customers_from_deployment_group/remove_expired_customers_from_deployment_group.py
  airplane/productivity/statistics/main.py
  airplane/remove_expired_hosted_root_group_memberships/remove_expired_hosted_root_group_memberships.py
  airplane/v2/tasks/scheduled_deploys/scheduled_group_deploy/scheduled_group_deploy.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Implement Disable Sentry Alerts task
  airplane/tests/v2/disable_customer_sentry_alerts_test/__init__.py
  airplane/tests/v2/disable_customer_sentry_alerts_test/test_disable_customer_sentry_alerts.py
  airplane/v2/tasks/disable_customer_sentry_alerts/__init__.py
  airplane/v2/tasks/disable_customer_sentry_alerts/disable_customer_sentry_alerts.py
  airplane/v2/tasks/disable_customer_sentry_alerts/disable_customer_sentry_alerts.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Check if already disabled
  airplane/v2/tasks/disable_customer_sentry_alerts/disable_customer_sentry_alerts.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

pin python lint modules (#304)
  .circleci/config.yml
  requirements.txt
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Use proper comparision operators for shell (#301)
  airplane/operations/deployment/deploy-staging/deploy_staging.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix text object updates - bad text comparison (#300)
  airplane/pyshared/notion_databases.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Implement Disable Sentry Alerts task (#303)
  airplane/tests/v2/disable_customer_sentry_alerts_test/__init__.py
  airplane/tests/v2/disable_customer_sentry_alerts_test/test_disable_customer_sentry_alerts.py
  airplane/v2/tasks/disable_customer_sentry_alerts/__init__.py
  airplane/v2/tasks/disable_customer_sentry_alerts/disable_customer_sentry_alerts.py
  airplane/v2/tasks/disable_customer_sentry_alerts/disable_customer_sentry_alerts.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Code refactor
  airplane/v2/tasks/disable_customer_sentry_alerts/disable_customer_sentry_alerts.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Code cleanup (#305)
  airplane/v2/tasks/disable_customer_sentry_alerts/disable_customer_sentry_alerts.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Raise on failed push (#306)
  airplane/v2/task_models/airplane_git_task.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Remove tangible-dinosaur refs' (#307)
  airplane/tests/test_get_deprovision_customer_details.py
  airplane/tests/test_manual_customer_deploy.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add audit info to ephemeral statistics (#309)
  airplane/productivity/ephemeral_statistics/ephemeral_statistics.py
Owners: @panther-labs/productivity

Add per host audit (#310)
  airplane/productivity/ephemeral_statistics/ephemeral_statistics.py
Owners: @panther-labs/productivity

Notify security when account is being deleted (#308)
  airplane/operations/deprovisions/delete-dns-records/delete_dns_records.py
  airplane/v2/consts/airplane_env.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

update playground mapping (#311)
  sentry_asana/src/consumer/components/asana/entities.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Only check active accounts in health checker (#312)
  airplane/operations/deployment/deployment_health_checker/deployment_health_checker.py
  airplane/pyshared/customer_info_retriever.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality
