Repository panther-labs/asana-ticket-router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality, @panther-labs/solution_engineering, @panther-labs/security

Bootstrap support requeue task (#69)
  airplane/support/requeue/dlq_requeue.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Provide mechanism for testing Airplane tasks (#71)
  airplane/util/git-push
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Implement requeue dlq task (#70)
  airplane/support/requeue/README.md
  airplane/support/requeue/dlq_requeue.py
  airplane/support/requeue/requirements.txt
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update new_panther_deploy_notion_record.py (#72)
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Notion record insert with support link (#74)
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Reorganize team-service mapping for Sentry-Asana (#75)
  sentry_asana_integration/src/service/asana_service.py
  sentry_asana_integration/tests/test_asana.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Unblock customer deployments (#77)
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Hosted security log source (#78)
  airplane/security/onboard-hosted-account-log-sources/main.py
  airplane/security/onboard-hosted-account-log-sources/requirements.txt
Owners: @panther-labs/security

Enable much more testing with Airplane tasks (#80)
  airplane/README.md
  airplane/dynamo-db/aws_account_id_retriever.py
  airplane/load-hosted-customer-configuration/main.sh
  airplane/new-customer-deployments/create_new_customer.sh
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.py
  airplane/pip-libraries/main.sh
  airplane/testing/echo/echo.sh
  airplane/util/git-push
  airplane/vault-cfg/update_vault_config.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

add namespace object for use in airplane (#79)
  airplane/security/onboard-hosted-account-log-sources/main.py
Owners: @panther-labs/security

Share Python environment and use pyshared folder (#81)
  airplane/dynamo-db/requirements.txt
  airplane/notion/new-panther-deployment-record/requirements.txt
  airplane/pyshared/aws_creds.py
  airplane/requirements.txt
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add deployment statistics task (#82)
  airplane/productivity/statistics/README.md
  airplane/productivity/statistics/main.py
  airplane/productivity/statistics/requirements.txt
Owners: @panther-labs/productivity

typo (#83)
  airplane/security/onboard-hosted-account-log-sources/main.py
Owners: @panther-labs/security

Add method for cloning from Airlpane Python tasks (#84)
  airplane/Dockerfile.airplane
  airplane/pyshared/git_ops.py
  airplane/util/setup-github
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add cloud-puller to team Ingestion (#87)
  sentry_asana_integration/src/service/asana_service.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Make some airplane tasks more shareable (#86)
  airplane/dynamo-db/aws_account_id_retriever.py
  airplane/dynamo-db/customer_info_retriever.py
  airplane/notion/__init__.py
  airplane/notion/auth.py
  airplane/notion/customer_info_retriever.py
  airplane/notion/databases.py
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.py
  airplane/pyshared/dynamo_db.py
  airplane/pyshared/dynamo_db_tables.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update main.py (#85)
  airplane/productivity/statistics/main.py
Owners: @panther-labs/productivity

Add update notion airplane task (#76)
  airplane/notion/update-deployment-records/local_run.sh
  airplane/notion/update-deployment-records/update_deployment_records.py
  airplane/requirements.txt
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix issues with time updates (#88)
  airplane/notion/update-deployment-records/local_run.sh
  airplane/notion/update-deployment-records/update_deployment_records.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

adds new Airplane task update-customer-pat-role (#89)
  airplane/update-customer-pat-role/update_customer_pat_role.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Use PT timezone for Upgraded attribute (#90)
  airplane/notion/databases.py
  airplane/notion/update-deployment-records/update_deployment_records.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

exits when no iam-roles.yml file is found (#91)
  airplane/update-customer-pat-role/update_customer_pat_role.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update dlq_requeue.py (#92)
  airplane/support/requeue/dlq_requeue.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix error handling on github auth (#93)
  airplane/util/setup-github
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Run linting after generating files (#95)
  airplane/new-customer-deployments/create_new_customer.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add task to automatically update staging to the latest RC (#94)
  airplane/Dockerfile.airplane
  airplane/deployment/deploy-staging/deploy_staging.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Rename session (#96)
  airplane/support/requeue/dlq_requeue.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update deploy_staging.sh (#97)
  airplane/deployment/deploy-staging/deploy_staging.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Handle publish race condition (#98)
  airplane/deployment/deploy-staging/deploy_staging.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix typo (#99)
  airplane/deployment/deploy-staging/deploy_staging.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Feat: Add AWS switch role link to Asana on-call tasks (#25)
  .pylintrc
  sentry_asana_integration/src/service/asana_service.py
  sentry_asana_integration/tests/test_asana.py
  sentry_asana_integration/tests/test_data/sentry_event_body.json
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update customer pat role expanded (#100)
  airplane/update-customer-pat-role/update_customer_pat_role.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update the Asana routing rules for the datacatalog lambdas (#102)
  sentry_asana_integration/src/service/asana_service.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add panther-database-workflow (#103)
  sentry_asana_integration/src/service/asana_service.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

ignore sandbox (#104)
  requirements.txt
  sentry_asana_integration/requirements.txt
  sentry_asana_integration/src/service/asana_service.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Managed -> Managed SF for backend name in Notion (#105)
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update deploy staging to upgrade internal hosted accounts (#106)
  airplane/deployment/deploy-staging/deploy_staging.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Run each upgrade in a subshell (#107)
  airplane/deployment/deploy-staging/deploy_staging.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update support roles on notion deployments page (#110)
  airplane/notion/databases.py
  airplane/notion/update-deployment-records/update_deployment_records.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

adds Airplane task for adding users to hosted-root groups (#111)
  airplane/modify-hosted-root-groups/modify_hosted_root_groups.py
  airplane/pyshared/git_ops.py
  airplane/requirements.txt
  airplane/util/git-add
  airplane/util/git-checkout
  airplane/util/yaml-ruamel-reformat.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

.github/CODEOWNERS:

*   @panther-labs/observability-performance @panther-labs/productivity @panther-labs/quality
/airplane/solution-engineering/ @panther-labs/solution_engineering
/airplane/productivity/ @panther-labs/productivity
/airplane/security/ @panther-labs/security
