Repository panther-labs/asana-ticket-router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality, @panther-labs/solution_engineering, @panther-labs/security

.github/CODEOWNERS:

*   @panther-labs/observability-performance @panther-labs/productivity @panther-labs/quality
/airplane/solution-engineering/ @panther-labs/solution_engineering @panther-labs/productivity
/airplane/productivity/ @panther-labs/productivity
/airplane/security/ @panther-labs/security @panther-labs/productivity

Remove all airplane config items (#148)
  airplane/dynamo-db/aws_account_id_retriever.py
  airplane/dynamo-db/get_from_dynamo_db.task.yaml
  airplane/invite-new-user-to-panther/invite_new_user_to_panther.sh
  airplane/invite-new-user-to-panther/invite_new_user_to_panther.task.yaml
  airplane/notion/customer_info_retriever.py
  airplane/notion/update-deployment-records/update_deployment_records.py
  airplane/notion/update-deployment-records/update_panther_deployments_notion_record.task.yaml
  airplane/operations/modify-hosted-root-groups/modify_hosted_root_groups.py
  airplane/operations/move-account-to-deactivate-ou/move_account_to_deactivated_ou.py
  airplane/operations/move-account-to-deactivate-ou/move_account_to_deactivated_ou.task.yaml
  airplane/operations/remove-panther-deployment/remove_panther_deployment.py
  airplane/operations/remove-panther-deployment/remove_panther_deployment.task.yaml
  airplane/operations/step-function/wait_for_step_function_completion.py
  airplane/operations/step-function/wait_for_step_function_completion.task.yaml
  airplane/operations/update-customer-pat-role/update_customer_pat_role.sh
  airplane/operations/update-customer-pat-role/update_customer_pat_role.task.yaml
  airplane/productivity/statistics/main.py
  airplane/pyshared/aws_consts.py
  airplane/pyshared/cloudformation_yaml.py
  airplane/pyshared/ddb_hosted_deploy_retriever.py
  airplane/pyshared/dynamo_db.py
  airplane/pyshared/dynamo_db_tables.py
  airplane/remove-expired-hosted-root-group-memberships/remove_expired_hosted_root_group_memberships.py
  airplane/security/onboard-hosted-account-log-sources/onboard_hosted_account_log_sources.task.yaml
  airplane/solution-engineering/se_automation/main.py
  airplane/solution-engineering/se_automation/requirements.txt
  airplane/support/requeue/dlq_requeue.py
  airplane/support/requeue/requirements.txt
  airplane/testing/echo/echo.sh
  airplane/testing/python_test/python_test.py
  airplane/util/aws-consts
  airplane/util/cat-aws-consts
  airplane/util/ddb-get-deployment-metadata
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality, @panther-labs/security, @panther-labs/solution_engineering

Fix import in airplane task (#150)
  airplane/operations/modify-hosted-root-groups/modify_hosted_root_groups.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add HTTP Sessions (#145)
  requirements.txt
  sentry_asana/src/common/components/secrets/containers.py
  sentry_asana/src/consumer/components/application.py
  sentry_asana/src/consumer/components/asana/containers.py
  sentry_asana/src/consumer/components/asana/service.py
  sentry_asana/src/consumer/components/requests/containers.py
  sentry_asana/src/consumer/components/requests/service.py
  sentry_asana/src/consumer/components/sentry/containers.py
  sentry_asana/src/consumer/components/sentry/service.py
  sentry_asana/src/consumer/handler.py
  sentry_asana/src/consumer/requirements.txt
  sentry_asana/src/producer/components/queue/containers.py
  sentry_asana/src/producer/components/queue/service.py
  sentry_asana/src/producer/components/validator/containers.py
  sentry_asana/src/tests/test_consumer_app.py
  sentry_asana/src/tests/test_producer_app.py
  sentry_asana/src/tests/test_requests.py
  sentry_asana/src/tests/test_sentry.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

new detections service (#143)
  sentry_asana/src/consumer/components/asana/entities.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Use L deploy group for new customers (#151)
  airplane/operations/new-customer-deployments/add_pr_for_new_customer_skv.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

removes quotes from aws-consts (#152)
  airplane/pyshared/aws_consts.py
  airplane/util/aws-consts
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Adds note to modify-group-membership about slack confirmation of membership change (#153)
  airplane/operations/modify-hosted-root-groups/modify_hosted_root_groups_zav.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add initial ephemerald statistics job (#154)
  airplane/productivity/ephemeral-statistics/main.py
Owners: @panther-labs/productivity

Add generate fairytale name task (#155)
  airplane/operations/fairytale-name/generate_fairytale_name.py
  airplane/operations/fairytale-name/generate_fairytale_name.task.yaml
  airplane/operations/new-customer-deployments/add_pr_for_new_customer_skv.task.yaml
  airplane/pyshared/load_py_file.py
  airplane/requirements.txt
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix broken Panther deployment Notion updates (#156)
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.py
  airplane/notion/update-deployment-records/update_deployment_records.py
  airplane/pyshared/aws_secrets.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add airplane tasks/modify tasks for BYOSF (#157)
  airplane/operations/fairytale-name/generate_fairytale_name.py
  airplane/operations/fairytale-name/generate_fairytale_name.task.yaml
  airplane/operations/new-customer-deployments/verify_new_customer_runbook_params.py
  airplane/operations/new-customer-deployments/verify_new_customer_runbook_params.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix typo in airplane task description (#158)
  airplane/operations/fairytale-name/generate_fairytale_name.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

update to remove deleted custom field, 'impacted' (#160)
  .circleci/config.yml
  sentry_asana/src/consumer/components/asana/entities.py
  sentry_asana/src/consumer/components/asana/service.py
  sentry_asana/src/tests/test_asana.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

update outputs mapping (#159)
  sentry_asana/src/consumer/components/asana/entities.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Route GreyNoise Processor tickets to Team Investigations (#161)
  sentry_asana/src/consumer/components/asana/entities.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Route panther-rbac-datalake-sync lambda errors to Ingestion team (#163)
  .circleci/config.yml
  sentry_asana/src/consumer/components/asana/entities.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

swap responsibility (#162)
  sentry_asana/src/consumer/components/asana/entities.py
  sentry_asana/src/tests/test_asana.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add enhancements to the DQL requeue airplane task (#164)
  airplane/support/requeue/dlq_requeue.py
  airplane/support/requeue/dlq_requeue.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Pin pulumi and pulumi-aws versions (#165)
  requirements.txt
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add deployment automation for alpha group (#166)
  airplane/operations/deployment/deploy-staging/deploy_staging.sh
  airplane/operations/deployment/deploy-staging/deploy_staging_smq.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

add additional mappings for replay services. (#167)
  sentry_asana/src/consumer/components/asana/entities.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add Get Deprovision Customer Details airplane task (#168)
  airplane/notion/update-deployment-records/update_deployment_records.py
  airplane/operations/deprovisions/get_deprovision_customer_details/get_deprovision_customer_details.py
  airplane/operations/deprovisions/get_deprovision_customer_details/get_deprovision_customer_details.task.yaml
  airplane/pyshared/customer_info_retriever.py
  airplane/pyshared/git_ops.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add the snyk asana integration (#169)
  airplane/security/snyk-asana-integration/main.py
  airplane/security/snyk-asana-integration/snyk_asana_integration.task.yaml
Owners: @panther-labs/security, @panther-labs/productivity

Add Aiplane task to add/remove a customer to/from Deployment group (#171)
  airplane/operations/add-remove-customer-to-from-deployment-group/add_remove_customer_to_from_deployment_group.py
  airplane/operations/add-remove-customer-to-from-deployment-group/add_remove_customer_to_from_deployment_group.task.yaml
  airplane/pyshared/cloudformation_yaml.py
  airplane/pyshared/ddb_hosted_deploy_retriever.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add Airplane task to remove expired customers from deployment group (#172)
  airplane/productivity/remove-expired-customers-from-deployment-group/remove_expired_customers_from_deployment_group.py
  airplane/productivity/remove-expired-customers-from-deployment-group/remove_expired_customers_from_deployment_group.task.yaml
Owners: @panther-labs/productivity

Add Airplane task to manually deploy a customer (#173)
  airplane/operations/manual-deploys/manual_customer_deploy.py
  airplane/operations/manual-deploys/manual_customer_deploy.task.yaml
  airplane/pyshared/os_utils.py
  airplane/pyshared/yaml_utils.py
  airplane/requirements.txt
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add ap task to mark a deployment for deletion (#174)
  airplane/operations/deprovisions/mark-deployment-for-deletion/mark_deployment_for_deletion.py
  airplane/operations/deprovisions/mark-deployment-for-deletion/mark_deployment_for_deletion.task.yaml
  airplane/operations/manual-deploys/manual_customer_deploy.py
  airplane/pyshared/deployments_file.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add airplane task for removing CFN DNS stacks (#170)
  airplane/operations/deprovisions/get-deprovision-customer-details/get_deprovision_customer_details.py
  airplane/operations/deprovisions/get-deprovision-customer-details/get_deprovision_customer_details.task.yaml
  airplane/operations/deprovisions/remove-dns-records/remove_dns_records.py
  airplane/operations/deprovisions/remove-dns-records/remove_dns_records.task.yaml
  airplane/util/aws-consts
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix links not updating properly on Notion page (#175)
  airplane/notion/update-deployment-records/update_deployment_records.py
  airplane/pyshared/customer_info_retriever.py
  airplane/pyshared/notion_databases.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

if no expiration date is given, make access expire tomorrow (#176)
  airplane/operations/add-remove-customer-to-from-deployment-group/add_remove_customer_to_from_deployment_group.py
  airplane/operations/modify-hosted-root-groups/modify_hosted_root_groups.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add new EPD_TASK_TYPE and ON_CALL fields (#177)
  sentry_asana/src/consumer/components/asana/entities.py
  sentry_asana/src/consumer/components/asana/service.py
  sentry_asana/src/tests/test_asana.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update permissions for AP task to add/remove customer to/from deployment group (#179)
  airplane/operations/add-remove-customer-to-from-deployment-group/add_remove_customer_to_from_deployment_group.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add AP tasks to track AP customer creation status (#180)
  airplane/notion/mark-airplane-creation-complete/mark_airplane_creation_complete.py
  airplane/notion/mark-airplane-creation-complete/mark_airplane_creation_complete.task.yaml
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.py
  airplane/notion/update-deployment-records/update_deployment_records.py
  airplane/operations/deployment/deployment-health-checker/deployment_health_checker.py
  airplane/operations/deployment/deployment-health-checker/deployment_health_checker.task.yaml
  airplane/pyshared/customer_info_retriever.py
  airplane/pyshared/notion_databases.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add an AP task to get customer account info (#181)
  airplane/operations/get-customer-account-information/get_customer_account_information.py
  airplane/operations/get-customer-account-information/get_customer_account_information.task.yaml
  airplane/pyshared/ddb_hosted_deploy_retriever.py
  airplane/util/aws-consts
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix notion updates for display name attr (#182)
  airplane/notion/update-deployment-records/update_deployment_records.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Use pyshared in remove hosted deploy files (#183)
  airplane/operations/deprovisions/remove-hosted-deployment-files/remove_hosted_deployment_files.py
  airplane/operations/deprovisions/remove-hosted-deployment-files/remove_hosted_deployment_files.task.yaml
  airplane/operations/remove-hosted-deployment-files/remove_hosted_deployment_files.py
  airplane/pyshared/deployments_file.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Airplane - Add ability to remove from vault config (#184)
  airplane/operations/vault-cfg/update_vault_config.sh
  airplane/operations/vault-cfg/update_vault_config.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Create AP task to move account to user-specified OU (#187)
  airplane/operations/move-account-to-deactivate-ou/move_account_to_deactivated_ou.py
  airplane/operations/move-account-to-deactivate-ou/move_account_to_deactivated_ou.task.yaml
  airplane/operations/move-account-to-ou/move_hosted_account_to_ou.py
  airplane/operations/move-account-to-ou/move_hosted_account_to_ou.task.yaml
  airplane/pyshared/hosted_orgs.py
  airplane/util/aws-consts
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Require requests for move_hosted_account_to_ou task (#189)
  airplane/operations/move-account-to-ou/move_hosted_account_to_ou.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update airplane_test_run param type to boolean (#190)
  airplane/operations/move-account-to-ou/move_hosted_account_to_ou.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality
