Repository panther-labs/asana-ticket-router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality, @panther-labs/solution_engineering, @panther-labs/security

.github/CODEOWNERS:

*   @panther-labs/observability-performance @panther-labs/productivity @panther-labs/quality
/airplane/solution-engineering/ @panther-labs/solution_engineering
/airplane/productivity/ @panther-labs/productivity
/airplane/security/ @panther-labs/security

add exit error code (#112)
  airplane/security/onboard-hosted-account-log-sources/main.py
Owners: @panther-labs/security

Add team sprints (#101)
  .pylintrc
  Pulumi.sentry-asana.yaml
  __main__.py
  requirements.txt
  sentry_asana_integration/README.md
  sentry_asana_integration/pulumi/sentry_asana_integration.py
  sentry_asana_integration/src/enum/teams.py
  sentry_asana_integration/src/handler.py
  sentry_asana_integration/src/service/asana_service.py
  sentry_asana_integration/src/service/secrets_service.py
  sentry_asana_integration/src/service/sentry_service.py
  sentry_asana_integration/tests/test_asana.py
  sentry_asana_integration/tests/test_sentry.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update Name (and link) field in deploy records (#114)
  airplane/notion/databases.py
  airplane/notion/update-deployment-records/update_deployment_records.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

adds remove-expired-hosted-root-group-membership to airplane (#115)
  airplane/modify-hosted-root-groups/modify_hosted_root_groups.py
  airplane/pyshared/cloudformation_yaml.py
  airplane/remove-expired-hosted-root-group-memberships/remove_expired_hosted_root_group_memberships.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update more internal accounts (#116)
  airplane/notion/customer_info_retriever.py
  airplane/notion/databases.py
  airplane/notion/update-deployment-records/update_deployment_records.py
  airplane/pyshared/dynamo_db_tables.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Change Customer Name param to Account Name (#118)
  airplane/new-customer-deployments/create_new_customer.sh
  airplane/notion/databases.py
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.py
  airplane/notion/update-deployment-records/update_deployment_records.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

[Feat] URL-based routing (#117)
  sentry_asana_integration/src/service/asana_service.py
  sentry_asana_integration/tests/test_asana.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Reorganize some tasks into top level directories (#119)
  airplane/operations/deployment/deploy-staging/deploy_staging.sh
  airplane/operations/modify-hosted-root-groups/modify_hosted_root_groups.py
  airplane/operations/new-customer-deployments/README.md
  airplane/operations/new-customer-deployments/create_new_customer.sh
  airplane/operations/pip-libraries/main.sh
  airplane/operations/update-customer-pat-role/update_customer_pat_role.sh
  airplane/operations/vault-cfg/update_vault_config.sh
  airplane/productivity/load-hosted-customer-configuration/main.sh
  airplane/test-env/README.md
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Aggelos fix asana sentry url (#120)
  sentry_asana/src/consumer/service/asana_service.py
  sentry_asana/src/tests/legacy_test_asana.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

re-assign alerting to investigations (#121)
  sentry_asana/README.md
  sentry_asana/src/consumer/service/asana_service.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Generate codepipeline when new roles added in AP (#122)
  airplane/operations/update-customer-pat-role/update_customer_pat_role.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix from and to queues (#123)
  airplane/support/requeue/dlq_requeue.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Update main.py (#124)
  airplane/productivity/statistics/main.py
Owners: @panther-labs/productivity

Audit lambda -> team mappings (#125)
  sentry_asana/src/consumer/service/asana_service.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

raises and exception if subprocess returns non-zero (#126)
  airplane/pyshared/git_ops.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Remove expired bug fix (#127)
  airplane/remove-expired-hosted-root-group-memberships/remove_expired_hosted_root_group_memberships.py
  pyproject.toml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

adds output when removing user from group (#128)
  airplane/remove-expired-hosted-root-group-memberships/remove_expired_hosted_root_group_memberships.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add task to wait for step function completion (#129)
  airplane/operations/step-function/wait_for_step_function_completion.py
  airplane/pyshared/aws_creds.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Create/use one common AWS assume role function (#130)
  airplane/dynamo-db/aws_account_id_retriever.py
  airplane/notion/customer_info_retriever.py
  airplane/productivity/statistics/main.py
  airplane/pyshared/aws_creds.py
  airplane/pyshared/cloudformation_yaml.py
  airplane/pyshared/dynamo_db.py
  airplane/testing/python_test/python_test.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Fix arg name for get_credentialed_client (#131)
  airplane/operations/step-function/wait_for_step_function_completion.py
  airplane/pyshared/aws_creds.py
  airplane/pyshared/cloudformation_yaml.py
  airplane/pyshared/dynamo_db.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add get_credentialed_resource (#133)
  airplane/pyshared/aws_creds.py
  airplane/pyshared/dynamo_db.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

adds Airplane task for inviting user or resending invite to Panther (#109)
  airplane/Dockerfile.airplane
  airplane/invite-new-user-to-panther/invite_new_user_to_panther.sh
  airplane/util/ddb-get-deployment-metadata
  airplane/util/download-panther-tools
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

removes the arch suffix from opslambda (#134)
  airplane/invite-new-user-to-panther/invite_new_user_to_panther.sh
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Create Remove Panther Deployment AP task (#136)
  airplane/operations/remove-panther-deployment/remove_panther_deployment.py
  airplane/pyshared/ddb_hosted_deploy_retriever.py
  airplane/pyshared/dynamo_db.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Make task not runnable until further conversations (#138)
  airplane/operations/remove-panther-deployment/remove_panther_deployment.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Create Remove Hosted Delpoyment Files AP task (#135)
  airplane/operations/remove-hosted-deployment-files/remove_hosted_deployment_files.py
  airplane/pyshared/git_ops.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add AP task to move to terminated OU (#139)
  airplane/operations/move-account-to-deactivate-ou/move_account_to_deactivated_ou.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add AP task to move Notion deploy to deprovision (#137)
  airplane/notion/customer_info_retriever.py
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.py
  airplane/notion/update-deployment-records/update_deployment_records.py
  airplane/operations/move-notion-account-deprov/move_notion_panther_deploy_to_deprovisioned.py
  airplane/pyshared/notion_auth.py
  airplane/pyshared/notion_databases.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Get panther stack from hosted-deployments (#140)
  airplane/operations/remove-panther-deployment/remove_panther_deployment.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Remove reqs to force different root dir (#141)
  airplane/productivity/statistics/main.py
  airplane/productivity/statistics/requirements.txt
  airplane/requirements.txt
Owners: @panther-labs/productivity, @panther-labs/observability-performance, @panther-labs/quality

moves counter reset to per group, not per user (#142)
  airplane/remove-expired-hosted-root-group-memberships/remove_expired_hosted_root_group_memberships.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Add task config to each airplane task (#146)
  airplane/dynamo-db/get_from_dynamo_db.task.yaml
  airplane/invite-new-user-to-panther/invite_new_user_to_panther.task.yaml
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.task.yaml
  airplane/notion/update-deployment-records/update_panther_deployments_notion_record.task.yaml
  airplane/onboard_hosted_account_log_sources.task.yaml
  airplane/operations/deployment/deploy-staging/deploy_staging_smq.task.yaml
  airplane/operations/modify-hosted-root-groups/modify_hosted_root_groups_zav.task.yaml
  airplane/operations/move-account-to-deactivate-ou/move_account_to_deactivated_ou.task.yaml
  airplane/operations/move-notion-account-deprov/move_notion_panther_deploy_to_deprovisioned.task.yaml
  airplane/operations/new-customer-deployments/add_pr_for_new_customer_skv.task.yaml
  airplane/operations/pip-libraries/set_piplibraries.task.yaml
  airplane/operations/remove-hosted-deployment-files/remove_hosted_deployment_files.task.yaml
  airplane/operations/remove-panther-deployment/remove_panther_deployment.task.yaml
  airplane/operations/step-function/wait_for_step_function_completion.task.yaml
  airplane/operations/update-customer-pat-role/update_customer_pat_role.task.yaml
  airplane/operations/vault-cfg/update_vault_config.task.yaml
  airplane/productivity/load-hosted-customer-configuration/load_configuration.task.yaml
  airplane/productivity/statistics/deployment_statisitics.task.yaml
  airplane/remove-expired-hosted-root-group-memberships/remove_expired_hosted_root_group_memberships.task.yaml
  airplane/solution-engineering/se_automation/se_automation.task.yaml
  airplane/support/requeue/dlq_requeue.task.yaml
  airplane/testing/echo/echo.task.yaml
  airplane/testing/python_test/python_test.task.yaml
  airplane/testing/shell-task/shell_test_env.task.yaml
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality, @panther-labs/solution_engineering

adds new replay service team/asana mapping. (#144)
  sentry_asana/src/consumer/components/asana/entities.py
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality

Move Airplane secrets to AWS secretsmanager (#147)
  airplane/Dockerfile.airplane
  airplane/notion/new-panther-deployment-record/new_panther_deploy_notion_record.task.yaml
  airplane/notion/update-deployment-records/update_panther_deployments_notion_record.task.yaml
  airplane/operations/deployment/deploy-staging/deploy_staging.sh
  airplane/operations/deployment/deploy-staging/deploy_staging_smq.task.yaml
  airplane/operations/modify-hosted-root-groups/modify_hosted_root_groups.py
  airplane/operations/modify-hosted-root-groups/modify_hosted_root_groups_zav.task.yaml
  airplane/operations/move-notion-account-deprov/move_notion_panther_deploy_to_deprovisioned.task.yaml
  airplane/operations/new-customer-deployments/add_pr_for_new_customer_skv.task.yaml
  airplane/operations/pip-libraries/set_piplibraries.task.yaml
  airplane/operations/remove-hosted-deployment-files/remove_hosted_deployment_files.task.yaml
  airplane/operations/update-customer-pat-role/update_customer_pat_role.task.yaml
  airplane/operations/vault-cfg/update_vault_config.task.yaml
  airplane/productivity/load-hosted-customer-configuration/load_configuration.task.yaml
  airplane/pyshared/aws_secrets.py
  airplane/pyshared/git_ops.py
  airplane/pyshared/notion_auth.py
  airplane/remove-expired-hosted-root-group-memberships/remove_expired_hosted_root_group_memberships.py
  airplane/remove-expired-hosted-root-group-memberships/remove_expired_hosted_root_group_memberships.task.yaml
  airplane/solution-engineering/se_automation/se_automation.task.yaml
  airplane/testing/echo/echo.sh
  airplane/testing/echo/echo.task.yaml
  airplane/testing/python_test/python_test.py
  airplane/util/get-deploy-key-secret-name
  airplane/util/get-secret-value
  airplane/util/git-clone
  airplane/util/setup-github
Owners: @panther-labs/observability-performance, @panther-labs/productivity, @panther-labs/quality, @panther-labs/solution_engineering
